body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.content {
  background: #e9ebee;
  padding: 30px 80px;
}

.header {
  display: flex;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
  justify-content: space-between;
  background: #3b5998;
  color: #ffffff;
}

.app-title {
  display: flex;
  align-items: center;
}

.register-button {
  height: fit-content;
  background: #42b72a;
  margin-left: 10px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.login-link {
  text-decoration: none;
  color: #ffffff;
}

.app-description {
  text-align: left;
  margin-bottom: 40px;
}

.description-title {
  margin: 0px;
}

.function-card {
  margin: 0 auto;
  width: 900px;
  background: #e9ebee;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.function {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  width: 400px;
  box-sizing: border-box;
  padding: 10px;
}

.function-img {
  width: 200px;
  height: 200px;
}

.function-caption {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.function-description {
  text-align: center;
  font-size: 14px;
  color: #808080;
  margin-bottom: 40px;
}

.start-button {
  width: fit-content;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}
